// ------------------------------------
// Gaps / Pushes / Pulls
// -------------------------------------

.gap{
  padding: $unit;
}

.gap--sides{
  padding: 0 $unit;
}

.gap--ends{
  padding: $unit 0;
}

.gap--ends-half{
  padding: $unit/2 0;
}

.push--sides{
  margin: 0 $unit;
}

.push--left{
  margin-left: $unit;
}

.push--right{
  margin-right: $unit;
}

.push--half-sides{
  margin: 0 $unit/2;
}

.push--half-left{
  margin-left: $unit/2;
}

.push--half-right{
  margin-right: $unit/2;
}


