// ------------------------------------
// Grid
// -------------------------------------

.grid{
  margin-left: -$unit;
  list-style:none;
  margin-bottom:0;
}

.grid > .grid{
  margin-left:0;
}

.grid__item{
  display: inline-block;
  padding-left: $unit;
  vertical-align: top;
  float: left;
}
