.btn { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; }

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, table, th, td, caption, hr { margin: 0; padding: 0; }

abbr[title], dfn[title] { cursor: help; }

u, ins { text-decoration: none; }

ins { border-bottom: 1px solid; }

img { font-style: italic; }

label, input, textarea, button, select, option { cursor: pointer; }

.text-input:active, .text-input:focus, textarea:active, textarea:focus { cursor: text; outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-family: sans-serif; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

body { margin: 0; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

mark { background: #ff0; color: #000; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

pre { white-space: pre-wrap; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

button, input, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 2 */ margin: 0; /* 3 */ }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

table { border-collapse: collapse; border-spacing: 0; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.is-hidden { display: none; }

.is-visible { display: block; }

.cf:after, .row:after, .media:after, .group__head:after, .group__body:after, .swatch--composite:after, .colour-select:after { content: ""; display: table; clear: both; }

.cf--ie:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; }

img { max-width: 100%; }

img[width], img[height] { max-width: none; }

figure > img { display: block; }

.link, .link--invert, .link--strong { text-decoration: none; }
.link:hover, .link--invert:hover, .link--strong:hover { text-decoration: none; }

.link--invert { color: white; }

.link--strong { font-weight: bold; }

.link--wrap { text-decoration: none; }

html { background-color: white; color: #333333; font: 0.875em/1.71429 Helvetica, Arial, Georgia, sans-serif; margin: 0; overflow-y: auto; }

body { padding: 0; margin: 0 auto; }

.gap { padding: 20px; }

.gap--sides { padding: 0 20px; }

.gap--ends { padding: 20px 0; }

.gap--ends-half { padding: 10px 0; }

.push--sides { margin: 0 20px; }

.push--left { margin-left: 20px; }

.push--right { margin-right: 20px; }

.push--half-sides { margin: 0 10px; }

.push--half-left { margin-left: 10px; }

.push--half-right { margin-right: 10px; }

.one-whole { width: 100%; }

.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths { width: 50%; }

.one-third, .two-sixths, .four-twelfths { width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths { width: 66.666%; }

.one-quarter, .two-eighths, .three-twelfths { width: 25%; }

.three-quarters, .six-eighths, .nine-twelfths { width: 75%; }

.one-fifth, .two-tenths { width: 20%; }

.two-fifths, .four-tenths { width: 40%; }

.three-fifths, .six-tenths { width: 60%; }

.four-fifths, .eight-tenths { width: 80%; }

.one-sixth, .two-twelfths { width: 16.666%; }

.five-sixths, .ten-twelfths { width: 83.333%; }

.one-eighth { width: 12.5%; }

.three-eighths { width: 37.5%; }

.five-eighths { width: 62.5%; }

.seven-eighths { width: 87.5%; }

.one-tenth { width: 10%; }

.three-tenths { width: 30%; }

.seven-tenths { width: 70%; }

.nine-tenths { width: 90%; }

.one-twelfth { width: 8.333%; }

.five-twelfths { width: 41.666%; }

.seven-twelfths { width: 58.333%; }

.eleven-twelfths { width: 91.666%; }

.split { text-align: right; list-style: none; margin-left: 0; }

.split__left { text-align: left; float: left; clear: left; }

.grid, .colour-select { margin-left: -20px; list-style: none; margin-bottom: 0; }

.grid > .grid, .colour-select > .grid, .grid > .colour-select, .colour-select > .colour-select { margin-left: 0; }

.grid__item, .colour-select__handler, .colour-select__swatch, .colour-select__actions { display: inline-block; padding-left: 20px; vertical-align: top; float: left; }

.row { width: 100%; }

.row__inner { margin: 0 auto; }

.media { display: block; }

.media__fig { float: left; }

.media--rev .media__fig { float: right; }

.media__fig img, .media__fig-rev img { display: block; }

.media__body { overflow: hidden; }

.media__body, .media__body > :last-child { margin-bottom: 0; }

.gap .media--fig { margin-right: 10px; }

.gap .media--fig-rev { margin-left: 10px; }

button, input[type=submit], input[type=image] { border: 0; outline: none; }
button:focus, input[type=submit]:focus, input[type=image]:focus { outline: 1px dotted #333333; }

.btn { font-size: 14px; font-size: 1rem; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; display: inline-block; vertical-align: middle; white-space: nowrap; font-family: inherit; font-size: 100%; cursor: pointer; line-height: 1em; border-radius: 4px; padding-top: 0; padding-bottom: 0; }

.btn, .btn:hover { text-decoration: none; }

.btn--primary { background-color: #e3e3e3; border-radius: 2px solid #fff; padding: 6.66667px 20px; border: 1px solid rgba(119, 119, 119, 0.5); text-transform: uppercase; color: #333; font-weight: bold; }
.btn--primary:hover { background-color: #444; color: #fff; }

.btn--small { padding: 5px 10px; font-size: 10px; font-size: 0.71429rem; }

.btn--large { padding: 10px 40px; font-size: 24px; font-size: 1.71429rem; font-weight: bold; min-width: 200px; }

.btn--quiet { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; display: inline-block; background: transparent; outline: 0; border: none; padding: 0; cursor: pointer; }

button[disabled], button[disabled]:hover, button[disabled]:active, button[disabled]:focus, .btn--inactive, .btn--inactive:hover, .btn--inactive:active, .btn--inactive:focus { background-color: #e3e3e3; color: #ee3344; cursor: text; }

.group { padding: 20px; }

.group__head { padding: 10px 0; border-bottom: 10px solid #e3e3e3; }

.group__body { padding: 10px 0; }

.swatch { display: inline-block; }

.swatch--small { width: 20px; height: 20px; }

.swatch--medium { width: 80px; height: 80px; }

.swatch--large { width: 200px; height: 200px; }

.swatch--full { width: 100%; height: 100%; }

.swatch__block { width: 100%; height: 100%; border-radius: 50%; border: 1px solid #e3e3e3; position: relative; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }

.swatch__label { display: inline-block; text-align: center; width: 100%; position: absolute; top: 40%; font-size: 24px; }

.swatch--composite { width: 100%; }

.group { padding: 20px; }

.group__head { padding: 10px 0; border-bottom: 10px solid #e3e3e3; }

.group__body { padding: 10px 0; }

.colour-select { margin: 10px 0; border-bottom: 1px solid #e3e3e3; }

.slider { padding: 5px 0; }

.slider__title { width: 80px; display: inline-block; text-align: right; padding-right: 10px; text-transform: uppercase; }

.slider__handler { width: 200px; margin-right: 5px; }

.slider .swatch__block { margin-top: 3px; }
